@use '../custom' as *;
// HEADING LINE 
.heading-line::before {
    content: "";
    width: 10rem;
    height: 0.1rem;
    display: block;
    background-color: black;
    margin: 0 auto;
}

.heading-line::after {
    content: "";
    padding-top: 0.5rem;
    width: 2rem;
    height: 0.2rem;
    display: block;
    background-color: black;
    margin: 0 auto;
    margin-bottom: 1rem;
}